letterdetect/erosion
letterdetect/letterdetect
letterdetect/corner
letterdetect/contours
letterdetect/threshold
letterdetect/test_threshold
letterdetect/oflaw
letterdetect/*.jpg
node-litchfield-plate/build/
node-litchfield-plate/a.out
calc_plate/test_threshold
calc_plate/threshold
node-pennyblack/public/images/qvp*
node_modules/
test.db
*.cbp
CMakeCache.txt
CMakeFiles/
Makefile
*.log
*.save
*.user
node-pennyblack/*.jpg
*.svn
*.cmake
*.out
