doctype html
html(lang="en")
    include includes/header
    body
        include includes/topbar
        div.container
            div.jumbotron
                legend #{pageTitle}
                legend Version #{version}
                p Copyright Tim Rochford, 2015.
                div.row
                    div.col-md-2
                        p Contact:
                    div.col-md-1
                        a(href='mailto:timothy.rochford@gmail.com')
                            span(class="fa fa-envelope")
                    div.col-md-1
                        a(href='https://twitter.com/TimR2D2')
                            span(class="fa fa-twitter")
                    div.col-md-1
                        a(href='https://fi.linkedin.com/in/timrochford')
                            span(class="fa fa-linkedin")
                    div.col-md-2
                        a(href='privacy-policy') Privacy Policy.
                p
                    | This website uses P.C. Litchfield's 'Guide Lines to the Penny Black'
                    | corner letter alignment information to deduce the penny black printing press.
                p
                    | qvplate.com is not liable for any damages related to the plating
                    | results returned.
    include includes/footer


