doctype html
html(lang="en")
        include includes/header
        body
            include includes/topbar
            div.container
                div.jumbotron
                    legend #{pageTitle}
                    p &copy;  Tim Rochford, 2015.
                    p I created AnimalGuess as this guessing game is well known and I wanted to see if I could develop a good algorithm.


