doctype html
html(lang="en")
    include includes/header
    body
        include includes/topbar
        div.container
            div.jumbotron
                legend #{pageTitle}
                legend Version #{version}
                p Copyright Tim Rochford, 2015.
                a(href='privacy-policy') Privacy Policy.

                p
                    | I wanted to see if a software program could
                    | detect the printing press used to create a penny
                    | black stamp.
                p
                    | This website would not be possible without the
                    | work of P.C. Litchfield's 'Guide Lines to the Penny Black'
                    | and I would recommend that as a valuable aid in plating the
                    | penny black.
                p Terms of use:
                    p
                        | qvplate.com is not liable for any damages related to the plating
                        | results returned.
    include includes/footer


