doctype html
html(lang="en")
        include includes/header
        body
            include includes/topbar
            div.container
                div.jumbotron
                    legend #{pageTitle}
                    legend Version #{version}
                    p &copy;  Tim Rochford, 2015.
                    a(href='privacy-policy') Privacy Policy.

                    p I wanted to see if a software program could detect the printing press used to create a penny black stamp.
        include includes/footer


