doctype html
html(lang="en")
    include includes/header
    body
        include includes/topbar
        div.container
            div.jumbotron
                legend #{pageTitle}
                p An error was encountered.
    include includes/footer


