doctype html
html(lang="en")
    include includes/header
    body
        include includes/topbar

        div.container-fluid.visible-md.visible-lg
        p
        div.container.text-center
            div.row
                img(src="images/5FC.jpg" max-height="300px", max-width="200px",alt="penny black")
                h4
                form(method='post',action='/upload')
                    div.row
                        input(name='stampurl',class="form-control",type='text')
                    div.row
                        input(name='submit',type='submit',class="btn btn-primary").submit-button

    include includes/footer
