doctype html
html(lang="en")
        include includes/header
        body
            include includes/topbar
            div.container
                div.jumbotron
                    legend #{pageTitle}
                    p This system has many limitations which include
                    ul
                        li Incomplete corner letter squares
                        li Ink blots or other marks within the corner letter squares.
                        li Maltese cross cancels within the corner letter squares.
                        li Litchfield letter slanting factors are not included.
                        li low quality scanning.
                        li stamp not being vertical in the image.
                        li Recut, or double entry letters
                        li Rather than not return the correct plate, it returns multiple candidate plates.
        include includes/footer


