doctype html
html(lang="en")
        include includes/header
        script.
            $(document).ready(function() {
              var doneLeft = false;
              $('img').click(function(e) {
                var offset = $(this).offset();
                if (!doneLeft) {
                  $("#leftx").val(e.pageX - offset.left);
                  $("#lefty").val(e.pageY - offset.top);
                  doneLeft = true;
                } else {
                  $("#rightx").val(e.pageX - offset.left);
                  $("#righty").val(e.pageY - offset.top);
                }
              });
            });
        body
            include includes/topbar
            div.container
                div.jumbotron
                    legend #{pageTitle}
                    img(src="#{stampImg}", width="540", height="660",alt="penny black")
                    p Enter the information about the stamp...
                    form(method='post',action='/stampdata')
                        div.row
                            | XXX
                            input(name='stampurl',class="form-control",type='hidden',value="#{stampImg}")
                        div.row
                            | Left Letter
                            input(name='letterleft',class="form-control",type='text')
                        div.row
                            | Left Point
                            input(id="leftx",name='leftx',class="form-control",type='text',value="xxx")
                            input(id="lefty",name='lefty',class="form-control",type='text',value="xxx")
                        div.row
                            | Right Letter
                            input(name='letterright',class="form-control",type='text')
                        div.row
                            | Right Point
                            input(id="rightx",name='rightx',class="form-control",type='text')
                            input(id="righty",name='righty',class="form-control",type='text')
                        div.row
                            input(name='submit',type='submit',class="btn btn-primary").submit-button
                    p
                        #{data}


